 Build folders
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/
build/

# External/downloaded libraries (no need to upload, CMake downloads them)
external/

# CLion specific
.idea/

#Visual Studio 
.vs/

#Logs
Logs/

# Compiled binaries
*.o
*.a
*.so
Decoy_Engine.*